.press-review-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    font-family: var(--);
}

.container2 {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    width: 80vw;
}

.filter-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 400px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.list-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 300px;
    height: 300px;
    list-style-type: none;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    padding: 10px;
}

.ul>a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}

.ul>a:hover {
    text-decoration: underline;
}