.sidebar-container {
  color: white;
  background-color: var(--accent-color);
  position: fixed;
  left: 0;
  top: 0;
}

.filter-divider {
  margin: 0px 1rem;
  color: white;
}

.sidebar-title {
  font-size: 1.4rem;
  color: var(--main-color);
  border-bottom: 0.5px solid white;
  margin: 0 3rem;
  padding: 8px;
}

.filter-check-container {
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.filter-check-container:nth-child(4) > div:nth-child(2) label {
  margin: 0;
}

div.filter-check-container:nth-child(6) > div:nth-child(2) label {
  margin: 0;
}

div.filter-check-container:nth-child(7)
  > div:nth-child(2)
  > label:nth-child(1) {
  margin: 0;
}

div.filter-check-container:nth-child(6) > div:nth-child(2) > label:nth-child(1),
div.filter-check-container:nth-child(7)
  > div:nth-child(2)
  > label:nth-child(1) {
  display: grid;
}

div.filter-check-container:nth-child(6)
  > div:nth-child(2)
  > label:nth-child(1)
  > span:nth-child(1),
div.filter-check-container:nth-child(7)
  > div:nth-child(2)
  > label:nth-child(1)
  > span:nth-child(1) {
  justify-self: end;
}

.filter-check-container p {
  margin: 0;
  padding: 0;
}

.filter-check-text {
  justify-self: start;
}

.text-grayed {
  color: grey;
}

.filter-color-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.color-code {
  margin: 16px;
  height: 30px;
  width: 30px;
}

.centered-color-span {
  padding: 16px;
  display: grid;
  place-items: center;
}

.color-code {
  border-radius: 50%;
}

.code-finished {
  background-color: rgb(156, 93, 45);
}

.code-ongoing {
  background-color: rgb(96, 67, 232);
}

.code-tostart {
  background-color: rgb(115, 232, 114);
}

div.MuiBox-root:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(2)
  > label:nth-child(1),
div.MuiBox-root:nth-child(5)
  > div:nth-child(1)
  > div:nth-child(2)
  > label:nth-child(1) {
  color: white;
}

#combo-box-demo-label,
.MuiOutlinedInput-notchedOutline,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  color: white;
}

fieldset,
combo-box-demo {
  color: white;
}

.MuiAutocomplete-inputRoot {
  color: white;
}
